---
import data from '../../data/misc.js'
import photo from '../../assets/moi.jpeg'
---

<header class="header">
    <div class="profile">
        <img src={photo.src} alt={data.name} class="profile-pic">
        <div class="profile-info">
            <h1>
                {data.name}</h1>
            <h2>
                {data.title}
            </h2>
        </div>
    </div>
</header>