---
import '../styles/app.css';
import '../styles/print.css';
import '../styles/style.css';

const { title } = Astro.locals;
const defaultTitle = "Randy Venant - Développeur Web"; // Titre par défaut
const pageTitle = title || defaultTitle;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>

    <!-- Meta Description -->
    <meta name="description" content="Randy Venant, Développeur Web spécialisé dans la création de sites vitrine, e-commerce et développement de bots Discord." />

    <!-- Robots Meta Tag -->
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="{pageTitle}" />
    <meta property="og:description" content="Randy Venant, Développeur Web spécialisé dans la création de sites vitrine, e-commerce et développement de bots Discord." />
    <meta property="og:image" content="/src/assets/moi.jpeg" />
    <meta property="og:url" content="https://www.votresite.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@RandyVenant" />
    <meta name="twitter:title" content="{pageTitle}" />
    <meta name="twitter:description" content="Randy Venant, Développeur Web spécialisé dans la création de sites vitrine, e-commerce et développement de bots Discord." />
    <meta name="twitter:image" content="/src/assets/moi.jpeg" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.png" type="image/png" />

    <!-- Importation de Font Awesome pour les icônes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Google Fonts pour la typographie -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
  
  <script src="/scripts/faq.js" is:inline></script>
  <script src="/scripts/carousel.js" is:inline></script>
</html>
